html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Overpass:wght@400;700&family=Poppins&display=swap");
body {
  background-color: hsl(216, 12%, 8%);
  font-size: 15px;
  font-family: "Overpass", sans-serif;
}

.container {
  height: 100vh;
}
.card {
  background-color: hsl(213, 19%, 18%);
  width: 20rem;
  height: 22rem;
  margin: 6rem auto;
  border-radius: 12px;
  color: white;
  padding: 5px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.icon {
  border-radius: 50%;
  background-color: hsl(214, 18%, 23%);
  width: fit-content;
  padding: 10px;
}
.card-header {
  font-size: 1.2rem;
  font-weight: 700;
}
.card-pagraph {
  color: hsl(217, 12%, 63%);
}
.card-rate {
  display: flex;
  justify-content: space-around;
}

.card-rate__item {
  border-radius: 50%;
  background-color: hsl(214, 18%, 23%);
  width: fit-content;
  text-align: center;
  padding: 10px 14px;
}
.btn-submit {
  width: 100%;
  padding: 13px 0;
  border-radius: 20px;
  border: none;
  background-color: hsl(25, 97%, 53%);
  color: white;
  font-weight: 700;
  letter-spacing: 0.2rem;
}
.btn-submit:hover {
  cursor: pointer;
  color: hsl(25, 97%, 53%);
  background-color: white;
}
.card-rate__item:hover {
  cursor: pointer;
  background-color: hsl(25, 97%, 53%);
  color: white;
}
.card-rate__item:focus {
  background-color: hsl(217, 12%, 63%);
}

.hidden {
  display: none;
}
.attribution {
  text-align: center;
  color: whitesmoke;
}
.contetn_center {
  align-items: center;
  justify-content: space-evenly;
}

.text__center {
  text-align: center;
  font-size: 13px;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-header__thanks {
  margin-bottom: 10px;
}
.voted {
  background-color: hsl(214, 18%, 23%);
  color: hsl(25, 97%, 53%);
  border-radius: 20px;
  padding: 10px 20px;
}
